# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: '.NET AccountAPI'

on:
  push:
    paths:
      - 'AccountAPI/**'
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    - name: Restore dependencies
      run: dotnet restore AccountAPI
    - name: Build
      run: dotnet build --no-restore AccountAPI
    - name: Dockerize
      run: docker build -t anthonyikeda/customer-api:latest -f ./Dockerfile.AccountAPI .
